.login-wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 600px;
    background-color: #f1f7fe;
    border-radius: 30px;
    padding: 30px;
    margin: auto;
    margin-top: 200px;
}

.register-wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 720px;
    background-color: #f1f7fe;
    border-radius: 30px;
    padding: 30px;
    margin: auto;
    margin-top: 200px;
}

.logo-form {
    height: 150px;
    width: 150px;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    height: 50px;
    width: 380px;
    margin-top: 30px;
    padding: 20px;
    background-color: #dde5f4;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 20px;
}

.link-box {
    display: flex;
    align-items: center;
}

.link-box>a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: color 0.5s, text-decoration 0.5s;
    &:hover{
        color: #0056b3; 
        text-decoration: underline;
        transition: .5s;
    }
}

button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-top: 30px;
    background-color: #3e4684;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    transition: .5s;
    &:hover {
        background-color: #0056b3;
        transition: .5s;
    }
}