.tasks-box {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    margin-top: 40px;
}

.task {
    display: block; /* Заменяем на block, чтобы текст переносился */
    text-align: center;
    width: 500px;
    background-color: #bcb8ee;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    overflow-wrap: break-word; /* Сохраняем для переноса длинных слов */
    word-wrap: break-word; /* Совместимость */
    white-space: normal; /* Разрешаем перенос текста */
}